.crb-style form .sheet-content .skills .skills-pane .lores-list .skill .skill-name input.lock-protected {
    color: var(body) !important;
    border: none;
    margin-right: 4px;
    font-weight: 600;
}

.crb-style form .sheet-content .skills .skills-pane .lores-list .skill .skill-name input.lock-protected:hover {
    border: none;
}

input[type="text"].lock-protected, input[type="password"].lock-protected, input[type="datetime-local"].lock-protected {
    background: rgba(0, 0, 0, 0.00);
}

.hp-overlay {
    position: absolute;
    top: 17px;
    left: 5px;
    width: 115px;
    border-radius: 2px;
    display: inline-block;
}
